.custom-select {
  position: relative;
  display: block;
  max-width: 200px;
  max-height: 40px;
  min-width: 180px;
  margin: 0 auto;
  border: 1px solid #f3f3f39d;
  background-color: #eeeeee;
  z-index: 1;
  float: left;
}
.custom-select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 5px 30px 5px 5px;
  font-size: 14px;
  color: #714BB9;
  text-align: center;
}

.custom-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 100%;
  line-height: 30px;
  content: "∨";
  text-align: center;
  color: #714BB9;
  font-size: 24px;
  border-left: 1px solid #3C1C78;
  z-index: -1;
}

.year-select {
  position: relative;
  display: block;
  max-width: 100px;
  max-height: 40px;
  min-width: 90px;
  margin: 0 auto;
  border: 1px solid #f3f3f39d;
  background-color: #eeeeee;
  z-index: 1;
  float: left;
  margin-left: 0px;
}
.year-select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  color: #714BB9;
  text-align: center;

}
.year-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 100%;
  line-height: 30px;
  content: "∨";
  text-align: center;
  color: #714BB9;
  font-size: 24px;
  border-left: 1px solid #3C1C78;
  z-index: -1;
}

.day-select {
  position: relative;
  display: block;
  max-width: 100px;
  max-height: 40px;
  min-width: 20px;
  margin: 0 auto;
  border: 1px solid #f3f3f39d;
  background-color: #eeeeee;
  z-index: 1;
  float: left;
  margin-left: 10px;
}
.day-select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 5px 30px 5px 5px;
  font-size: 14px;
  color: #714BB9;
  text-align: center;

}
.day-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 100%;
  line-height: 30px;
  content: "∨";
  text-align: center;
  color: #714BB9;
  font-size: 24px;
  border-left: 1px solid #3C1C78;
  z-index: -1;
}

.custom-input {
  position: relative;
  display: block;
  max-width: 200px;
  max-height: 40px;
  min-width: 180px;
  margin: 0 auto;
  border: 1px solid #f3f3f39d;
  background-color: #eeeeee;
  z-index: 1;
  float: left;
}

.custom-input input {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 10px 5px 15px 10px;
  font-size: 14px;
  color: #714BB9;
  text-align: center;
}

.deposit-input {
  position: relative;
  display: block;
  max-width: 200px;
  max-height: 40px;
  min-width: 180px;
  margin: 0 auto;
  border: 1px solid #0000002d;
  background-color: #eeeeee;
  z-index: 1;
  float: left;
  margin-right: 30px;
  margin-left: 50px;
  margin
}

.deposit-input input {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 10px 5px 15px 10px;
  font-size: 14px;
  color: #714BB9;
  text-align: center;
  
}

.total-input {
  position: relative;
  display: block;
  max-width: 200px;
  max-height: 40px;
  min-width: 180px;
  margin: 0 auto;
  border: 1px solid #0000002d;
  background-color: #eeeeee;
  z-index: 1;
  float: left;
  margin-right: 30px;
  margin-left: 15px;
}

.total-input input {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 10px 5px 15px 10px;
  font-size: 14px;
  color: #714BB9;
  text-align: center;
  
}

.btn-custom {
  min-height: 0px;
  min-width: 0px;
  vertical-align: top;
  float: left;
  width: 50px;
}



.custom-span{
  float: left;
  min-width: 80px;
  min-height: 50px;
  font-size: 15pt;
  padding-top: 3px;
}

.total-span{
  float: left;
  min-width: 80px;
  min-height: 50px;
  font-size: 15pt;
  padding-top: 3px;
  
}

.select-box {
  width: 400px;
  height: 60px;
}


.order-div {
  width: 400px;
  float: left;
  margin-right: 50px;
}

.profit-div {
  width: 500px;
  float: left;
}

.v-line {

  border-left : thick solid #32a1ce;
  width: 10px;
  height : 100px;

}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(236, 109, 30, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.tooltip-link{
    position: relative;
}
.tooltip-link[data-tooltip]:not([data-tooltip=""])::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgba(236, 109, 30, 0.9);
    color: #000000;
    padding: 10px 7px;
    border-radius: 10px;
    
    width: 600%;
    height: auto;
    left: 80%;
    top: 20%;
    opacity: 0;
    transition: all 0.5s linear;
    font-size: 20px;
    z-index: 10;
    pointer-events: none;
}

.tooltip-link:hover[data-tooltip]:not([data-tooltip=""])::before{
    opacity: 1;
    pointer-events: none;
}